
.shop-sub-category-container {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    column-gap: 20px;
    row-gap: 80px;
}

.shop-sub-title {
    font-size: 50px;
    margin-bottom: 25px;
    text-align: center;
}